@import "src/app/scss/variables";

.login-container {
  margin: 16px;
  padding: 16px;
  border: 1px solid $red;
  max-width: 400px;

  .login-text {
    color: $red;
    text-align: center;
  }

  .login-items {
    display: flex;
    align-items: center;

    .user-list-container {
      width: 50%;
    }
  }
}
