<div class="login-container">
  <p class="login-text">Click on a user or log in manually</p>
  <div class="login-items">
    <app-user-list class="user-list-container" (userIdEventEmitter)="setUserId($event)"></app-user-list>
    <app-login-form></app-login-form>
  </div>
</div>
