<div class="game">
  <app-panel-container [panels]="game.panels"></app-panel-container>
  <app-play-button (playButtonEventEmitter)="play()"></app-play-button>
  <app-result [validationResults]="validationResults"></app-result>
</div>
