.panel {
  margin: 0 8px 16px 0;

  .panel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .panel-fields {
    position: relative;
    gap: 1px;
    display: grid;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content;
  }

  .panel-index {
    position: absolute;
    font-size: 160px;
    color: lightgray;
    z-index: -1;
    margin-left: 25%;
  }
}
