<div class="panel">
  <div class="panel-header">
    <app-random-button (randomButtonEventEmitter)="onRandomButtonClicked()"></app-random-button>
    <app-delete-button (deleteButtonEventEmitter)="onDeleteButtonClicked()"></app-delete-button>
  </div>
  <div class="panel-fields">
    <div class="panel-index">{{ panelIndex }}</div>
    <app-number-field
      *ngFor="let numberField of panel.numberFields;"
      [numberField]="numberField"
    >
    </app-number-field>
  </div>
</div>

