@import "src/app/scss/variables";

.number-field-container {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px $red solid;
  cursor: pointer;
  position: relative;

  .number-field {
    color: red;
    pointer-events: none;
  }

  .number-field-mark {
    margin: auto;
    position: absolute;
    color: black;
    font-size: 24px;
  }
}
