<div (click)="toggleFieldSelected()" class="number-field-container">
  <div class="number-field">{{numberField.value}}</div>
  <div *ngIf="numberField.selected" class="number-field-mark">X</div>
</div>
