@import "src/app/scss/variables";

.play-button {
  display: block;
  margin: 8px auto 16px auto;
  padding: 4px 64px;
  font-size: 24px;
  background-color: $red;
  color: white;
  border: none;
  cursor: pointer;
}
