@import "src/app/scss/variables";

.icon-button {
  color: $red;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;

  .icon-button-icon {
    width: 20px;
    height: 20px;
    color: $red;
    margin-right: 2px;
  }
  .icon-button-text {
    font-size: 14px;
    font-weight: bolder;
  }
}
