<button class="icon-button" (click)="onIconButtonClicked()">
  <img src='assets/svg/{{ iconName }}.svg' alt="Delete button icon" class="icon-button-icon">
  <span class="icon-button-text">{{ text }}</span>
</button>
