@import "src/app/scss/variables";

.user-list {
  list-style-type: none;
  margin:16px;
  padding: 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: $red;

  .user-item {
    padding: 8px 16px;
    cursor: pointer;
    color: $red;
    border-bottom: 1px solid red;

    &:hover {
      background-color: $red;
      color: white;
    }
  }
}
