@import "src/app/scss/variables";
.login-form {
  display: block;
  width: 50%;
  padding: 16px;

  .login-field {
    margin-bottom: 16px;

    .login-label {
      color: $red;
      display: block;
      margin-bottom: 4px;
    }

    .login-feedback {
      color: $red;
      font-size: 12px;
    }
  }

  .login-button {
    background-color: $red;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
}
