<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="login-field">
    <label class="login-label" for="user_id">User Id</label>
    <input
      (ngModelChange)="fieldErrors.userIdError = undefined"
      id="user_id"
      name="user_id"
      type="text"
      formControlName="userId">
    <div id="user_id_feedback" class="login-feedback" *ngIf="fieldErrors.userIdError">{{ fieldErrors.userIdError }}</div>
  </div>

  <div class="login-field">
    <label class="login-label" for="password">Password</label>
    <input
      (ngModelChange)="fieldErrors.passwordError = undefined"
      id="password"
      name="password"
      type="password"
      formControlName="password">
    <div id="password_feedback" class="login-feedback" *ngIf="fieldErrors.passwordError">{{ fieldErrors.passwordError }}</div>
  </div>

  <button id="login_button" class="login-button" type="submit">Login</button>
</form>
